

.nav-bg{
	background-color:#00579B; 
}

.abs-center{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}
.center-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}
.center-btn button{
	margin-left: 15px;
}

form{
	margin-right:60px;
}


